@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* grid column two */
.column_two {
  position: relative;
  bottom: 100px;
}

/* swiper */
.packageSlider {
  .swiper-slide {
    width: 59%;
    margin-left: 40px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgb(246, 242, 239);
    height: 70px;
    width: 70px;
    border-radius: 100%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.32);
    color: black;
    &::after {
      font-size: 20px !important;
      font-weight: 900;
    }
  }
}
