@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100vw;
  overflow-x: hidden;
}

/* grid column two */
.column_two {
  position: relative;
  bottom: 100px;
}

/* swiper */
.packageSlider {
  .swiper-slide {
    width: 59%;
    margin-left: 40px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgb(246, 242, 239);
    height: 70px;
    width: 70px;
    border-radius: 100%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.32);
    color: black;
    &::after {
      font-size: 20px !important;
      font-weight: 900;
    }
  }
}
